In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [26]:
train = pd.read_csv("/Users/abhishekwaghchaure/Desktop/Datasets/titanic/train.csv")
test = pd.read_csv("/Users/abhishekwaghchaure/Desktop/Datasets/titanic/test.csv")

In [27]:
df = pd.concat([train,test]).sample(1309)

In [28]:
train['Pclass'].value_counts().sort_index()

Pclass
1    216
2    184
3    491
Name: count, dtype: int64

In [29]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
337,338,1.0,1,"Burns, Miss. Elizabeth Margaret",female,41.0,0,0,16966,134.5000,E40,C
800,801,0.0,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,NaN,S
545,546,0.0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
210,211,0.0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
640,641,0.0,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S

## Preform goodness of fit chisquare test
## We perform this test on passengers in each class _class col ---

In [30]:
class_counts = train['Pclass'].value_counts().sort_index()
print(class_counts)

Pclass
1    216
2    184
3    491
Name: count, dtype: int64

### We perform to see if the passengers in each class are of same numbers ---- basically if they follow uniform distribution or not

In [31]:
total_passengers = len(train)
expected_counts = total_passengers / 3
expected = [expected_counts] * 3

In [32]:
print(expected)

[297.0, 297.0, 297.0]

In [33]:
from scipy.stats import chisquare

In [34]:
chisquare(class_counts, expected)

Power_divergenceResult(statistic=191.8047138047138, pvalue=2.239420223102885e-42)