In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

from scipy.stats import chi2_contingency

In [4]:
train = pd.read_csv("/Users/abhishekwaghchaure/Desktop/Datasets/titanic/train.csv")
test = pd.read_csv("/Users/abhishekwaghchaure/Desktop/Datasets/titanic/test.csv")

In [5]:
df = pd.concat([train,test]).sample(1309)

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
334,335,1.0,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S
93,94,0.0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.5750,NaN,S
164,1056,NaN,2,"Peruschitz, Rev. Joseph Maria",male,41.0,0,0,237393,13.0000,NaN,S
852,853,0.0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C
706,707,1.0,2,"Kelly, Mrs. Florence ""Fannie""",female,45.0,0,0,223596,13.5000,NaN,S

### Perform the chisquare test for independece to see if the survival rate of passengers is independent of the passenger class

In [10]:
cross_tab = pd.crosstab(df['Survived'], df['Pclass'])
print(cross_tab)

Pclass      1   2    3
Survived
0.0        80  97  372
1.0       136  87  119

In [12]:
chi2, p_value, df, expected =chi2_contingency(cross_tab)

In [20]:
print(f"Chi Square Statistic: {chi2}")
print(f"P Value: {p_value}")
print(f"Degree of Freedom: {df}")
print(f"Expected Values: {expected}")

Chi Square Statistic: 102.88898875696056
P Value: 4.549251711298793e-23
Degree of Freedom: 2
Expected Values: [[133.09090909 113.37373737 302.53535354]
 [ 82.90909091  70.62626263 188.46464646]]