In [1]:
import sys

In [ ]:
## Ordered collection which is immutable and duplicates allowed

In [2]:
empty_tuple = ()
print(type(empty_tuple))
print(sys.getsizeof(empty_tuple))

<class 'tuple'>
40

In [3]:
mixed_tuple = ("Abhi", 98, 0.000, "Jay shree ram")
print(mixed_tuple)
print(sys.getsizeof(mixed_tuple))

('Abhi', 98, 0.0, 'Jay shree ram')
72

In [8]:
## As it is ordered we can reterieve elements through indexes

print(mixed_tuple[0])
print(mixed_tuple[:3])
print(mixed_tuple[-1])

Abhi
('Abhi', 98, 0.0)
Jay shree ram

In [39]:
list = [1,2,3,4,5,5,5,6,4,4,43,2]
char_list =[ "abhi", 'samu', 'sakshi', 'hanshi', 'pallavi', 'mokshi', 'aishwarya', 'aishwarya']
print(list)
print(char_list)

[1, 2, 3, 4, 5, 5, 5, 6, 4, 4, 43, 2]
['abhi', 'samu', 'sakshi', 'hanshi', 'pallavi', 'mokshi', 'aishwarya', 'aishwarya']

In [41]:
# list = [1,2,3,4,5,5]
# print(list * 3)
new_list = list.remove(4)
new_char_list = char_list.remove('aishwarya')
print(type(new_list))
print(new_char_list)

<class 'NoneType'>
None

In [13]:
# tuple operations

numbers_1 = (1,2,3,4,5,5) 
print(numbers_1 + mixed_tuple)
print(mixed_tuple * 3)

(1, 2, 3, 4, 5, 5, 'Abhi', 98, 0.0, 'Jay shree ram')
('Abhi', 98, 0.0, 'Jay shree ram', 'Abhi', 98, 0.0, 'Jay shree ram', 'Abhi', 98, 0.0, 'Jay shree ram')

In [45]:
## Immutable nature of tuples
## Tuples are ordered and immutable

lst = [1,2,3,4,5]
print(lst)
lst[0] = "Abhishek"
print(lst)
numbers_1[0] = "Abhishek"

[1, 2, 3, 4, 5]
['Abhishek', 2, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [52]:
## Tuple Methods

print(numbers_1.count(5))
print(numbers_1.index(4))

2
3

In [56]:
## Packing and Unpacking Tuples

packed_tuple = "hello", 45, 98, 'Waghchaure', 89, 0.12
print(packed_tuple)
print(type(packed_tuple))

## Unpacking
a,b,c,d,e,f = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

('hello', 45, 98, 'Waghchaure', 89, 0.12)
<class 'tuple'>
hello
45
98
Waghchaure
89
0.12

In [57]:
## Unpacking with *
first, *middle, last = packed_tuple
print(first)
print(middle)
print(last)

hello
[45, 98, 'Waghchaure', 89]
0.12

In [60]:
list = [98,2,3]
a,b,c = list

In [64]:
nested_tuple = (("abhishek",34,12), ("jay",90), (True,False))
print(nested_tuple[0])
print(nested_tuple[0][1])

('abhishek', 34, 12)
34

In [67]:
for i in nested_tuple:
    for sub in i:
        print(sub , end = " ")

abhishek 34 12 jay 90 True False